name: CI

on:
  push:
    branches: 
      - master
      - release/*

jobs:
  build:
    name: Run package tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7 for unittest with tkinter
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Setup Tkinter
      run: |
        sudo apt-get install python-tk python3-tk tk-dev
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistic
    - name: Run MenuHelper TestSuite
      run: |
        python -m unittest tkinterHelper.menuHelperTestSuite
